@font-face {
	font-family: "Bonobo";
	src: url("Bonobo_Bold.ttf")
   }
	body{
		margin: 0;
		padding: 2vw;
		font-family: system-ui;
		font-weight: 800;
		color:white;
		background-color:black;
		user-select: none;
        /*background-image: url(https://img.freepik.com/vecteurs-premium/fond-rose-nuage_489121-1.jpg?w=2000);*/

	}
	/*
	img{
		display: block;
	}
	a{
		text-decoration:none;
		color:black;
	}
	*/
	h1{
		
	}
	footer{
		/*border-style: solid;*/
		text-align: center;
		/*border: pink solid 0.5vw;*/
	}
	header{
		text-align: center;
		width: 100%;
		display:grid;
		grid-template-columns: 1fr 10fr 10fr;
	}
	header > div{
		text-align: center;
		font-size: 2.5em;
	}
	#title > span:nth-child(2){
		color:black;
		background-color: orange;
		border-radius: 10px;
		padding:8px
	}
